{% extends 'base.html' %}

{% block title %}Terms and Conditions{% endblock title %}

{% block body %}

<style>

.footer__btn {
    color: #343945;
    float: left;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    line-height: 35px;
    margin-top: 20px;
    position: relative;
    text-align: center;
}
.footer__btn {
    float: right;
    margin-right: 12px;
    margin-top: -2px;
    white-space: nowrap;
}

</style>

<div class="container">

    <br>
    <br>
    <main class="bd-main order-1">
        <div class="bd-intro ps-lg-4">
            <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
                <a class="btn btn-sm btn-bd-light mb-2 mb-md-0" href="https://github.com/bhavinpatil/Face-Mask-and-Helmet-Detection" title="View and edit this file on GitHub" target="_blank" rel="noopener">View on GitHub</a>
                <br>
                <br>
                <br>
                <h1 class="bd-title" id="content">Overviews</h1>
            </div>
            <p class="bd-lead" style="text-align:left;">Learn more about the team maintaining Face Mask and Helmet Detector, how and why the project started, and how to get involved.</p>
            <p style="text-align:left;">Balaclava is maintained by a <a href="https://github.com/bhavinpatil">small team of developers</a> on GitHub. We’re actively looking to grow this team and would love to hear from you 
            if you’re excited about CSS at scale, writing and maintaining vanilla JavaScript plugins, and improving build tooling processes for frontend code.</p>
            <script async="" src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&amp;placement=getbootstrapcom" id="_carbonads_js"></script>
        </div>
        <br>
        <br>
        <div class="bd-content ps-lg-4">
            <h1 id="team">Terms and Conditions</h1>
            <br>
            <p style="text-align:left;">Welcome to our web application. By using this you are agreeing to comply with and be bound by the following terms and conditions of use.</p>
            <p style="text-align:left;">If you disagree with any part of our terms and conditions, please do not use our web application.</p>
            <p style="text-align:left;">The use of this web application is subject to the following terms of use:</p>
            <br>
            <h3>Cookies</h3>    
            <p style="text-align:left;">This website uses cookies to monitor browsing preferences. If you do allow cookies to be used the following personal information may be stored by us for use.</p>
            <br>
            <h3>Privacy and Policy</h3>
            <p style="text-align:left;">Your data is safe with us and we won't be selling it or using it illegally for some external profits for ourselves </p>
            <br>
            <h3>Copyrights</h3>
            <p style="text-align:left;">This website contains material which is owned by or licensed to us. </p>
            <p style="text-align:left;">This material includes, but is not limited to the design layout, look, apperance and graphics. </p>
            <p style="text-align:left;">Reporoduction is prohitbited other than in accordance with the copyright notice, which forms part of these terms and conditions. </p>
            <p style="text-align:left;">All trademarks reproduced in this website, which are not the property of, or liscensed to the operator, are acknowledged on the website.</p>
            <br>
            <h3>Prohibitions</h3>
            <p style="text-align:left;">Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence </p>
            <p style="text-align:left;">You must not misuse this web application. </p>
            <p style="text-align:left;">You will not commit a criminal offense; transmit or distribute a virus, trojan, worm, logic bomb or any other material that is malicious, technologically harmful or hack into any aspect of the service.</p>
            <p></p>
            <p></p>
            <br>
            <br>
            <h1 id="history">History<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#history" style="padding-left: 0.375em;"></a></h1>
            <p style="text-align:left;">The spread of COVID-19 is increasingly worrying everyone in the world. This virus can be affected from human to human through the droplets and airborne.
According to the guidelines provided from WHO, to reduce the spread of COVID-19, every people need to wear face mask, social distancing, avoiding the crowd areas and also maintaining our immune system. Therefore, to protect each other, every person should wear face masks properly when they are in outdoors. However, most of selfish and careless people won't wear masks properly for so many reasons. To overcome this situation, a robust face mask detection needs to be developed. And hence in these situation balaclava can be used.
Accidents and high death rates on construction sites are common these days and with that comes the necessity of wearing safety gaurds like hard hats and
also to ensure that everyone is wearing them for which again can use balaclava.
</p>
            <br>
            <br>            
        </br>
    </main>
</div>
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 text-muted">© 2020–2021 Face Mask and Helmet Detection. All Rights Reserved.</small>
    </div>
  <section class="footer__col footer__col--next">
            <a href="/contact" class="footer__btn" data-footer-link="2">
                <span>Next: Contact Us</span>

                <div class="footer__btn-line">
                    <div class="footer__btn-line-inner"></div>
                </div>
            </a>
  </section>
</footer>
{% endblock body %}
